@use '../../../../styles' as *;

header {
  background-color: var(--primary-color);
  color: $dark-base;
}

.topbar {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;

  .logo {
    display: flex;
    align-items: center;
    gap: 12px;
    background: transparent;
    border: none;
    lucide-icon {
      height: 24px;
    }
    h1 {
      margin: 0;
      font-size: 1.5rem;
      color: --text-primary;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .user-profile {
    display: flex;
    align-items: center;

    .info {
      display: flex;
      flex-direction: column;
      text-align: right;
      position: relative;

      .name {
        font-weight: bold;
      }

      .role {
        font-size: 0.875rem;
        color: --text-secondary;
      }

      &:hover {
        cursor: pointer;
      }
    }
    .dropdown-menu {
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 8px;
      background: transparent;
      min-width: 150px;
      z-index: 1000;
      overflow: hidden;
    }
  }
  .topbar-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 12px;
  }
  .theme-toggle-btn {
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}
