<header class="topbar">
  <div class="topbar-left">
    <div class="logo">
      <lucide-icon [img]="Sparkle" class="icon" />
      <h1>RadiânciaKS</h1>
    </div>
  </div>
  <div class="topbar-right">
    <button class="theme-toggle-btn" (click)="themeService.toggleTheme()">
      @if (themeService.isDarkMode()) {
        <lucide-icon [img]="Sun" class="icon" />
      } @else {
        <lucide-icon [img]="Moon" class="icon" />
      }
    </button>
    <div class="user-profile" (click)="toggleDropdown()">
      <div class="info">
        <span class="name">{{ userName }}</span>
        <span class="role">{{ userRole }}</span>
        @if (isDropdownOpen) {
          <div class="dropdown-menu" (click)="$event.stopPropagation()">
            <app-button-component
              variant="primary"
              size="lg"
              (click)="logout(); $event.stopPropagation()"
            >
              Deslogar
            </app-button-component>
          </div>
        }
      </div>
    </div>
  </div>
</header>
