<header class="topbar">
  <div class="topbar-left">
    <button routerLink="/home" class="logo">
      <lucide-icon [img]="Sparkle" class="icon" />
      <h1>RadiânciaKS</h1>
    </button>
  </div>
  <div class="topbar-right">
    <div
      class="cash-shift-widget"
      [class.is-open]="
        (signalrService.connectionStatus$ | async) === 'Conectado' &&
        (signalrService.cashShiftStatus$ | async) === 'Aberto'
      "
      [class.is-loading]="
        (signalrService.connectionStatus$ | async) === 'Conectado' &&
        (signalrService.cashShiftStatus$ | async) === 'Carregando...'
      "
    >
      <div class="indicator-dot"></div>
      <div class="indicator-text">
        <span class="title">Sistema</span>

        @if ((signalrService.connectionStatus$ | async) === 'Desconectado') {
          <span class="status-closed">Offline</span>
        } @else if ((signalrService.cashShiftStatus$ | async) === 'Aberto') {
          <span class="status-open">Aberto</span>
        } @else if ((signalrService.cashShiftStatus$ | async) === 'Fechado') {
          <span class="status-closed">Fechado</span>
        } @else {
          <span class="status-loading">Verificando</span>
        }
      </div>
    </div>
    <div class="theme-toggle">
      <button class="theme-toggle-btn" (click)="themeService.toggleTheme()">
        @if (themeService.isDarkMode()) {
          <lucide-icon [img]="Sun" class="icon" />
        } @else {
          <lucide-icon [img]="Moon" class="icon" />
        }
      </button>
    </div>
    @if (isLoggedIn) {
      <div class="user-profile" (click)="toggleDropdown()">
        <div class="info">
          <span class="name">{{ authService.currentUser()?.name }}</span>
          <span class="role">{{ authService.currentUser()?.role }}</span>
          @if (isDropdownOpen) {
            <div class="dropdown-menu" (click)="$event.stopPropagation()">
              <app-button-component
                variant="danger"
                size="lg"
                (click)="logout(); $event.stopPropagation()"
              >
                Deslogar
              </app-button-component>
            </div>
          }
        </div>
      </div>
    }
  </div>
</header>
