<div class="page-header">
  <div class="header-title">
    <h2>Cardápio</h2>
  </div>
  <input type="text" class="search-input" placeholder="Procurar..." />
  <app-button-component
    size="md"
    variant="primary"
    radius="round"
    (click)="openNewModal()"
    type="submit"
  >
    + Adicionar
  </app-button-component>
</div>

<div class="card-table">
  <table class="admin-table">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Categoria</th>
        <th>Preço</th>
        <th class="actions-column">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (product of dataList; track product.id) {
        <tr>
          <td>
            <div class="product-info-cell">
              @if (product.imagePath) {
                <img [src]="product.imagePath" class="product-thumb-preview" />
              } @else {
                <div class="product-thumb-placeholder">🍔</div>
              }
              <div class="product-text-group">
                <strong class="product-name">{{ product.name }}</strong>
                <span class="product-desc">{{ product.description || 'Sem descrição' }}</span>
              </div>
            </div>
          </td>
          <td>
            <span class="badge-category">{{ product.categoryName }}</span>
          </td>
          <td>
            <strong>R$ {{ product.price | number: '1.2-2' }}</strong>
          </td>
          <td class="actions-cell">
            <button class="btn-action btn-edit" (click)="openEditModal(product)">Editar</button>
            <button class="btn-action btn-delete" (click)="delete(product.id)">Apagar</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="pagination-footer">
    <span class="page-info">Página <b>1</b> 2 3 4 5 6 > >></span>
    <span class="results-info">Resultados 1 a 12 de 200</span>
  </div>
</div>

@if (showModal) {
  <div class="modal-overlay">
    <div class="modal-card">
      <div class="modal-header">
        <h2 style="margin: 0px">{{ isEditing ? 'Editar Produto' : 'Novo Produto' }}</h2>
        <app-button-component variant="danger" size="sm" class="w-full-btn" (click)="closeModal()">
          &times;
        </app-button-component>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="prodImagePath">Imagem</label>
          <div class="upload-zone">
            <div class="upload-content">
              <p class="icon">☁️</p>
              <p>Selecione uma imagem ou arraste aqui</p>
              <small>png, jpg ou webp.</small>
              <app-button-component
                variant="primary"
                size="md"
                class="w-full-btn"
                style="margin-top: 8px"
              >
                Procurar
              </app-button-component>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="catPriority">Nome do produto</label>
          <app-input-component
            placeholder="(Ex: Hambúrgueres)"
            [(value)]="currentItem.name"
          ></app-input-component>
        </div>

        <div class="form-group">
          <label for="prodCategory">Categoria *</label>

          <div class="custom-select-container">
            <button type="button" class="custom-select-trigger" (click)="toggleDropdown()">
              {{ getSelectedCategoryName() || 'Selecione uma categoria...' }}
              <span class="arrow">▼</span>
            </button>

            @if (dropdownOpen) {
              <ul class="options-list">
                @for (cat of categories; track cat.id) {
                  <li
                    class="option"
                    [class.is-selected]="currentItem.categoryId === cat.id"
                    (click)="selectCategory(cat.id)"
                  >
                    {{ cat.name }}
                  </li>
                }
              </ul>
            }
          </div>
        </div>

        <div class="form-group">
          <label for="prodPrice">Preço de Venda (R$) *</label>
          <app-input-component
            type="number"
            step="0.01"
            min="0"
            icon="R$"
            [radius]="'default'"
            placeholder="0,00"
            [(value)]="currentItem.price"
          ></app-input-component>
        </div>

        <div class="form-group">
          <label for="prodDescription">Descrição / Ingredientes</label>
          <textarea
            id="prodDescription"
            rows="3"
            [(ngModel)]="currentItem.description"
            placeholder="(Ex: Pão brioche, blend de 150g, queijo cheddar derretido, cebola caramelizada e molho artesanal...)"
          >
          </textarea>
        </div>
        <hr class="divider" />

        <h3 class="section-title">Modificadores e Adicionais</h3>

        @if (!isEditing) {
          <div class="info-alert">
            <p>
              Para adicionar modificadores (ex: Tamanho, Adicionais Extras), primeiro preencha os
              dados acima e clique em <strong>"Salvar Produto"</strong>. Depois, edite o produto
              para adicionar as opções.
            </p>
          </div>
        } @else {
          <div class="modifier-creator-box">
            <h4 class="box-title">Criar Grupo de Modificadores</h4>

            <div class="form-row">
              <div class="form-group flex-2">
                <label>Nome do Grupo</label>
                <app-input-component
                  placeholder="(Ex: Molho, Adicionais)"
                  [(value)]="newGroup.name"
                ></app-input-component>
              </div>

              <div class="form-group flex-1">
                <label>Mín. Escolhas</label>
                <app-input-component
                  type="number"
                  placeholder="0"
                  [(value)]="newGroup.minChoices"
                ></app-input-component>
              </div>

              <div class="form-group flex-1">
                <label>Máx. Escolhas</label>
                <app-input-component
                  type="number"
                  placeholder="1"
                  [(value)]="newGroup.maxChoices"
                ></app-input-component>
              </div>
            </div>

            <app-button-component
              variant="primary"
              size="sm"
              class="w-full-btn"
              (click)="addGroup()"
            >
              + Adicionar Grupo
            </app-button-component>
          </div>

          @for (group of productModifiers; track group.id) {
            <div class="modifier-group-card">
              <div class="group-header">
                <div class="group-title-area">
                  <h4>{{ group.name }}</h4>
                  <span class="group-rules"
                    >Mín: {{ group.minChoices }} • Máx: {{ group.maxChoices }}</span
                  >
                </div>
                <app-button-component
                  [size]="'sm'"
                  [variant]="'danger'"
                  (click)="deleteGroup(group.id)"
                  >Apagar grupo</app-button-component
                >
              </div>

              <ul class="options-list">
                @for (opt of group.options; track opt.id) {
                  <li class="option-item">
                    <span class="opt-name">{{ opt.name }}</span>
                    <div class="opt-right">
                      <span class="opt-price"
                        >+ R$ {{ opt.additionalPrice | number: '1.2-2' }}</span
                      >
                      <button class="btn-remove-opt" (click)="deleteOption(group.id, opt.id)">
                        &times;
                      </button>
                    </div>
                  </li>
                } @empty {
                  <li class="empty-option">Nenhuma opção adicionada neste grupo ainda.</li>
                }
              </ul>

              <div class="add-option-inline">
                <app-input-component
                  placeholder="(ex: Cheddar, Chocolate)"
                  [value]="newOptions[group.id]?.name"
                  (valueChange)="
                    newOptions[group.id] = newOptions[group.id] || { name: '', price: 0 };
                    newOptions[group.id].name = $event
                  "
                ></app-input-component>

                <app-input-component
                  type="number"
                  icon="R$"
                  placeholder="0,00"
                  class="price-input-wrapper"
                  [value]="newOptions[group.id]?.price"
                  (valueChange)="
                    newOptions[group.id] = newOptions[group.id] || { name: '', price: 0 };
                    newOptions[group.id].price = $event
                  "
                  style="height: 100%"
                ></app-input-component>
                <app-button-component
                  class="add-modifier-btn"
                  variant="primary"
                  size="sm"
                  (click)="addOption(group.id)"
                  style="margin: auto"
                >
                  Adicionar
                </app-button-component>
              </div>
            </div>
          }
        }
      </div>

      <div class="modal-footer">
        <app-button-component variant="danger" size="sm" class="w-full-btn" (click)="closeModal()">
          Cancelar
        </app-button-component>
        <app-button-component variant="primary" size="sm" class="w-full-btn" (click)="save()">
          Salvar Produto
        </app-button-component>
      </div>
    </div>
  </div>
}
