@use '../../../../styles' as *;

.kitchen-status-bar {
  position: absolute;
  width: 100%;
  z-index: 50;
  background-color: var(--green-status);
  color: $light-base;
  font-size: 1.1rem;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: $shadow-sm;

  strong {
    color: $dark-base;
    font-weight: 500;
  }

  marquee {
    span {
      margin-right: 24px;
    }
  }
}
