<div class="page-header">
  <div class="header-title">
    <h2>Funcionários</h2>
  </div>
  <app-input-component
    type="text"
    [icon]="TextSearch"
    [variant]="'transparent'"
    placeholder="Procurar funcionário..."
    [(value)]="searchTerm"
    (valueChange)="searchSubject.next($event)"
  />
  <app-button-component
    size="md"
    variant="primary"
    radius="round"
    (click)="openNewModal()"
    type="submit"
  >
    + Adicionar
  </app-button-component>
</div>

<div class="card-table">
  <table class="admin-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Cargo / Acesso</th>
        <th class="actions-column">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (emp of dataList; track emp.id) {
        <tr>
          <td>
            <strong>{{ emp.name }}</strong>
          </td>
          <td>
            <span class="badge-role">{{ getRoleLabel(emp.role) }}</span>
          </td>
          <td class="actions-cell">
            <button class="btn-action btn-edit" (click)="openEditModal(emp)">Editar</button>
            <button class="btn-action btn-delete" (click)="delete(emp.id)">Apagar</button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" class="empty-row">Nenhum funcionário encontrado.</td>
        </tr>
      }
    </tbody>
  </table>
  <div class="pagination-footer"></div>
</div>

@if (showModal) {
  <app-modal-component
    [title]="isEditing ? 'Editar Funcionário' : 'Novo Funcionário'"
    (onClose)="closeModal()"
  >
    <div class="modal-body">
      <div class="form-group">
        <label>Nome Completo *</label>
        <app-input-component
          type="text"
          [(value)]="currentItem.name"
          placeholder="Ex: João Silva"
        ></app-input-component>
      </div>

      <div class="form-row">
        <div class="form-group flex-1">
          <label>Cargo *</label>

          <div
            class="custom-select-container"
            appClickOutside
            (clickOutside)="dropdownOpen = false"
          >
            <button type="button" class="custom-select-trigger" (click)="toggleDropdown()">
              {{ getRoleLabel(this.currentItem.role) || 'Selecione um cargo...' }}
              <span class="arrow">▼</span>
            </button>

            @if (dropdownOpen) {
              <ul class="options-list">
                @for (role of roleOptions; track role.value) {
                  <li
                    class="option"
                    [class.is-selected]="currentItem.role === role.value"
                    (click)="selectRole(role.value)"
                  >
                    {{ role.label }}
                  </li>
                }
              </ul>
            }
          </div>
        </div>
        <div class="form-group flex-1">
          <label>CPF *</label>
          <app-input-component
            type="text"
            [(value)]="currentItem.cpf"
            placeholder="000.000.000-00"
          ></app-input-component>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group flex-1">
          <label>Data de Nascimento</label>
          <app-input-component type="date" [(value)]="currentItem.birthday" />
        </div>
        <div class="form-group flex-1">
          <label>Senha {{ isEditing ? '(Branco para manter)' : '*' }}</label>
          <app-input-component
            type="password"
            [(value)]="currentItem.password"
            placeholder="*****"
          />
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <app-button-component variant="danger" size="sm" (click)="closeModal()">
        Cancelar
      </app-button-component>
      <app-button-component variant="primary" size="sm" (click)="save()">
        Salvar Funcionário
      </app-button-component>
    </div>
  </app-modal-component>
}
