@use '../../../../styles' as *;

lucide-icon {
  height: 24px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--text-secondary);
  border-radius: $radius-pill;

  height: auto;

  padding: 6px 12px;

  background-color: transparent;
  transition: border-color 0.2s;

  width: 100%;
  box-sizing: border-box;

  &.primary {
    background-color: var(--bg-base);
    color: var(--text-primary);
    border-color: var(--text-primary);
  }

  &.secondary {
    background-color: var(--bg-base);
    color: var(--text-primary);
    border-color: var(--border-color);
  }

  &.radius-round {
    border-radius: $radius-pill;
  }

  &.radius-default {
    border-radius: $radius-sm;
  }

  &:focus-within {
    border-color: var(--primary-color);
  }

  .icon {
    margin-right: 12px;
    color: var(--text-secondary);
    font-size: 1rem;
    &.primary {
      color: var(--text-primary);
    }
    &.primary {
      color: var(--text-primary);
    }
  }

  input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-primary);
    width: 100%;
    font-family: $font-family-base;
    font-size: 0.9rem;

    &.primary {
      color: var(--text-primary);
    }
    &.primary {
      color: var(--text-primary);
    }
    &.font-size-big {
      font-size: 1.4rem;
    }

    &::placeholder {
      opacity: 0.7;
    }
  }
}
