<div [class]="'input-wrapper ' + variant + ' radius-' + radius">
  @if (icon) {
    @if (isLucideIcon(icon)) {
      <lucide-icon [img]="icon" [class]="'icon ' + variant" />
    } @else {
      <span [class]="'icon ' + variant">{{ icon }}</span>
    }
  }
  <input
    [class]="variant + ' font-size-' + fontSize"
    [type]="type"
    [attr.inputmode]="formatDecimal ? 'decimal' : null"
    [placeholder]="placeholder"
    [value]="value"
    [min]="min"
    [step]="type === 'number' ? step || 'any' : null"
    [disabled]="disabled"
    (input)="onInput($event)"
  />
</div>
