@use '../../../../styles' as *;

lucide-icon {
  height: 24px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid $text-secondary-dark;
  border-radius: $radius-pill;

  height: auto;

  padding: 6px 12px;

  background-color: transparent;
  transition: border-color 0.2s;

  width: 100%;
  box-sizing: border-box;

  &.primary {
    background-color: $bg-light-base;
    color: $text-primary-light;
    border-color: $text-primary-light;
  }

  &.secondary {
    background-color: $bg-dark-base;
    color: $text-primary-light;
    border-color: $border-color-light;
  }

  &.radius-round {
    border-radius: $radius-pill;
  }

  &.radius-default {
    border-radius: $radius-sm;
  }

  &:focus-within {
    border-color: $primary-color;
  }

  .icon {
    margin-right: 12px;
    color: $text-secondary-dark;
    font-size: 1rem;
    &.primary {
      color: $text-primary-light;
    }
    &.primary {
      color: $text-primary-dark;
    }
  }

  input {
    background: transparent;
    border: none;
    outline: none;
    color: $text-primary-dark;
    width: 100%;
    font-family: $font-family-base;
    font-size: 0.9rem;

    &.primary {
      color: $text-primary-light;
    }
    &.primary {
      color: $text-primary-dark;
    }

    &::placeholder {
      opacity: 0.7;
    }
  }
}
