<div class="page-header">
  <div class="header-title">
    <h2>Categorias</h2>
  </div>
  <app-button-component
    size="md"
    variant="primary"
    radius="round"
    (click)="openNewModal()"
    type="submit"
  >
    + Adicionar
  </app-button-component>
</div>

<div class="card-table">
  <table class="admin-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Prioridade</th>
        <th class="actions-column">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (category of dataList; track category.id) {
        <tr>
          <td>
            <strong>{{ category.name }}</strong>
          </td>
          <td>
            <span class="badge-priority">{{ category.priority ?? 'N/A' }}</span>
          </td>
          <td class="actions-cell">
            <button class="btn-action btn-edit" (click)="openEditModal(category)">Editar</button>
            <button class="btn-action btn-delete" (click)="delete(category.id)">Apagar</button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4" class="empty-row">Nenhuma categoria encontrada. Crie a primeira!</td>
        </tr>
      }
    </tbody>
  </table>
  <div class="pagination-footer">
    <span class="page-info">Página <b>1</b> 2 3 4 5 6 > >></span>
    <span class="results-info">Resultados 1 a 12 de 200</span>
  </div>
</div>

@if (showModal) {
  <div class="modal-overlay">
    <div class="modal-card">
      <div class="modal-header">
        <h2 style="margin: 0px">{{ isEditing ? 'Editar Categoria' : 'Nova Categoria' }}</h2>
        <app-button-component variant="danger" size="sm" class="w-full-btn" (click)="closeModal()">
          &times;
        </app-button-component>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <div class="upload-zone">
            <div class="upload-content">
              <i class="icon">☁️</i>
              <p>Selecione uma imagem ou arraste aqui</p>
              <small>png, jpg ou webp.</small>
              <button>Procurar</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="catPriority">Nome da categoria</label>
          <app-input-component
            placeholder="(Ex: Hambúrgueres)"
            [(value)]="currentItem.name"
          ></app-input-component>
        </div>

        <div class="form-group">
          <label for="catPriority">Prioridade / Ordem de Exibição</label>
          <app-input-component
            type="number"
            placeholder="Prioridade (Ex: 1)"
            [(value)]="currentItem.priority"
          ></app-input-component>
        </div>
      </div>

      <div class="modal-footer">
        <app-button-component variant="danger" size="sm" class="w-full-btn" (click)="closeModal()">
          Cancelar
        </app-button-component>
        <app-button-component variant="primary" size="sm" class="w-full-btn" (click)="save()">
          Salvar Categoria
        </app-button-component>
      </div>
    </div>
  </div>
}
