<div class="admin-layout">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <div class="nav-section">
        <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-item">
          <lucide-icon [img]="LayoutDashboard" class="icon" /> Dashboard
        </a>
        <a routerLink="/admin/produtos" routerLinkActive="active" class="nav-item">
          <lucide-icon [img]="BookOpen" class="icon" /> Cardápio
        </a>
        <a routerLink="/admin/categorias" routerLinkActive="active" class="nav-item">
          <lucide-icon [img]="History" class="icon" /> Categorias
        </a>
        <a routerLink="/admin/pedidos" routerLinkActive="active" class="nav-item">
          <lucide-icon [img]="ShoppingCart" class="icon" /> Pedidos
        </a>
        <a routerLink="/admin/equipe" routerLinkActive="active" class="nav-item">
          <lucide-icon [img]="Users" class="icon" /> Funcionários
        </a>
        <a routerLink="/admin/promocoes" routerLinkActive="active" class="nav-item">
          <lucide-icon [img]="BaggageClaim" class="icon" /> Promoções
        </a>
        <a routerLink="/admin/configuracoes-loja" routerLinkActive="active" class="nav-item">
          <lucide-icon [img]="Settings" class="icon" /> Configurações
        </a>
      </div>
    </nav>
    <div class="sidebar-footer" style="margin-top: auto">
      <app-cash-shift-control></app-cash-shift-control>
    </div>
  </aside>
  <main class="content-area">
    <router-outlet></router-outlet>
  </main>
</div>
