<div class="page-header">
  <h2>Configurações da Loja</h2>
</div>

<div class="settings-card">
  <div class="form-row">
    <div class="form-input">
      <label>Razão Social*</label>
      <app-input-component
        label="Nome da Loja"
        [(value)]="settings.storeName"
      ></app-input-component>
    </div>
    <div class="form-input">
      <label>CNPJ*</label>
      <app-input-component
        label="CNPJ"
        [mask]="'cnpj'"
        [(value)]="settings.cnpj"
      ></app-input-component>
    </div>
  </div>

  <div class="form-row">
    <div class="form-input">
      <label>Endereço</label>
      <app-input-component label="Endereço" [(value)]="settings.address"></app-input-component>
    </div>
    <div class="form-input">
      <label>Telefone</label>
      <app-input-component label="Telefone" [(value)]="settings.phone"></app-input-component>
    </div>
  </div>

  <div class="form-input">
    <label>Rodapé do Recibo</label>
    <app-input-component
      label="Rodapé do Recibo"
      [(value)]="settings.receiptFooter"
    ></app-input-component>
  </div>

  <div class="form-row">
    <div class="form-input">
      <label>Taxa de Serviço (%)</label>
      <app-input-component
        placeholder="Ex: 10"
        type="number"
        min="0"
        step="0.5"
        [(value)]="settings.serviceCharge"
      ></app-input-component>
    </div>

    <div class="form-input">
      <label>Taxa por padrão</label>
      <label class="toggle-input-wrapper">
        <span class="toggle-text">
          {{ settings.chargeServiceByDefault ? 'Ativado' : 'Desativado' }}
        </span>
        <div class="switch">
          <input type="checkbox" [(ngModel)]="settings.chargeServiceByDefault" />
          <span class="slider"></span>
        </div>
      </label>
    </div>
  </div>

  <div class="logo-section">
    <div class="logo-box">
      <label>Logo Pequena</label>
      <div class="upload-zone" (click)="smallLogoInput.click()">
        @if (settings.smallLogoPath) {
          <img [src]="serverUrl + settings.smallLogoPath" />
        } @else {
          <span>+ Logo Pequena</span>
        }
        <input type="file" #smallLogoInput hidden (change)="onLogoSelected($event, false)" />
      </div>
    </div>

    <div class="logo-box">
      <label>Logo Grande</label>
      <div class="upload-zone" (click)="bigLogoInput.click()">
        @if (settings.bigLogoPath) {
          <img [src]="serverUrl + settings.bigLogoPath" />
        } @else {
          <span>+ Logo Grande</span>
        }
        <input type="file" #bigLogoInput hidden (change)="onLogoSelected($event, true)" />
      </div>
    </div>
  </div>
  <app-button-component [size]="'lg'" variant="primary" (click)="save()"
    >Salvar Alterações</app-button-component
  >
</div>
