<div class="cart-container">
  <header class="cart-header">
    <div class="cart-title">
      <lucide-icon [img]="ShoppingBag" class="icon" />
      <h2>
        @if (cartService.editingOrderId()) {
          Mesa Aberta
          @if (cartService.existingOrderData()?.tableNumber) {
            {{ cartService.existingOrderData()?.tableNumber }}
          } @else {
            {{ '#' + cartService.existingOrderData()?.id | slice: 0 : 6 | uppercase }}
          }
        } @else {
          Novo Pedido
        }
      </h2>
    </div>
    @if (cartService.totalItems() > 0) {
      <button class="clear-btn" (click)="clearCart()" title="Limpar carrinho">
        <lucide-icon [img]="Trash" class="icon" />
      </button>
    }
  </header>

  <main class="cart-items">
    @for (item of cartService.items(); track item.id) {
      <div class="cart-item" [class.existing-item]="item.isExistingItem">
        <div class="item-main">
          <div class="item-details">
            <div class="item-header-row">
              @if (item.isExistingItem) {
                <span class="item-qty-static">{{ item.quantity }}x</span>
                <span class="item-name">{{ item.product.name }}</span>
                <span class="sent-badge">Já lançado</span>
              } @else {
                <div class="quantity-controls">
                  <button class="btn-qty" (click)="cartService.decrementQuantity(item.id)">
                    -
                  </button>
                  <span class="qty-number">{{ item.quantity }}</span>
                  <button class="btn-qty" (click)="cartService.incrementQuantity(item.id)">
                    +
                  </button>
                </div>
                <span class="item-name">{{ item.product.name }}</span>
              }
            </div>

            @if (item.selectedModifiers.length > 0) {
              <div class="modifiers-container">
                @for (group of getGroupedModifiers(item.selectedModifiers); track group.groupName) {
                  <div class="modifier-group-block">
                    <span class="modifier-group-title">{{ group.groupName }}:</span>

                    <ul class="modifiers-list">
                      @for (modifier of group.options; track modifier.id) {
                        <li>
                          • <b>{{ modifier.name }}</b>
                          @if (modifier.additionalPrice > 0) {
                            <span class="modifier-price">
                              (+ R$ {{ modifier.additionalPrice.toFixed(2) }})
                            </span>
                          }
                        </li>
                      }
                    </ul>
                  </div>
                }
              </div>
            }
            <span class="item-notes">{{ item.notes }}</span>
          </div>

          <div class="item-actions-prices">
            <div class="prices">
              <span class="item-total-price">R$ {{ item.totalPrice.toFixed(2) }}</span>
              @if (item.quantity > 1) {
                <span class="item-unit-price"
                  >{{ item.quantity }}x R$ {{ item.unitPrice.toFixed(2) }}</span
                >
              }
            </div>

            @if (!item.isExistingItem) {
              <button class="btn-remove-item" (click)="removeItem(item.id)" title="Remover item">
                <b>X</b>
              </button>
            }
          </div>
        </div>
      </div>
    } @empty {
      <div class="empty-cart">
        <p>O carrinho está vazio.</p>
        <span>Selecione produtos no catálogo.</span>
      </div>
    }
  </main>

  <footer class="cart-footer">
    <div class="summary-wrapper">
      <div class="summary-line">
        <span>SubTotal</span>
        <span>R$ {{ cartService.subTotal().toFixed(2) }}</span>
      </div>
      <div class="summary-line">
        <span>Desconto</span>
        <span>(0%) R$ 0,00</span>
      </div>

      <div class="divider"></div>

      <div class="total-line">
        <span class="total-label">Total da Mesa</span>
        <span class="total-value">R$ {{ cartService.subTotal().toFixed(2) }}</span>
      </div>
    </div>

    <div class="action-buttons">
      @if (cartService.editingOrderId()) {
        <app-button-component
          style="flex: 1"
          [disabled]="cartService.getNewItemsOnly().length === 0"
          [isLoading]="isProcessing"
          (click)="appendItemsToOrder()"
        >
          Lançar Pedido
        </app-button-component>
      } @else {
        <button
          class="btn-secondary"
          [disabled]="cartService.totalItems() === 0 || isProcessing"
          (click)="openCustomerModal()"
        >
          Lançar Pedido
        </button>

        <app-button-component
          [disabled]="cartService.totalItems() === 0"
          [isLoading]="isProcessing"
          (click)="checkout()"
        >
          Checkout
        </app-button-component>
      }
    </div>
  </footer>
</div>

@if (showCustomerModal) {
  <app-modal-component title="Identificação do Pedido" (onClose)="closeCustomerModal()">
    <main class="modal-body">
      <div class="form-group">
        <label for="customerNameInput">Nome do Cliente / Mesa (Opcional)</label>
        <input
          id="customerNameInput"
          type="text"
          class="modal-input"
          placeholder="Ex: João, Mesa 04, Balcão..."
          [(ngModel)]="customerName"
          (keyup.enter)="confirmOrder()"
          autofocus
        />
      </div>
    </main>

    <footer class="modal-footer">
      <button class="btn-cancel" (click)="closeCustomerModal()">Cancelar</button>
      <app-button-component [isLoading]="isProcessing" (click)="confirmOrder()">
        Confirmar e Enviar
      </app-button-component>
    </footer>
  </app-modal-component>
}
