@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Space+Grotesk&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primary-color: #ffd369;
$primary-color-hover: #ffe5a4;

$green-status: #22c55e;
$orange-status: #e59c5b;
$red-status: #ff6969;

$bg-dark-base: #1e1e1e;
$bg-dark-surface: #2c2e32;
$bg-dark-elevated: #393e46;

$bg-light-base: #e5e5e5;
$bg-light-surface: #e3e3e3;

$text-primary-dark: #e5e5e5;
$text-secondary-dark: #e3e3e3;
$text-primary-light: #1e1e1e;
$text-secondary-light: #393e46;

$font-family-base: 'Space Grotesk', sans-serif;

$border-color-dark: #393e46;
$border-color-light: #e5e5e5;
$radius-sm: 4px;
$radius-md: 10px;
$radius-pill: 9999px;
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  background-color: $bg-dark-surface;
  color: $text-primary-dark;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hidden-preview {
  display: block !important;
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }

  .hidden-preview {
    display: block !important;
  }

  body {
    margin: 0 !important;
  }

  body * {
    visibility: hidden !important;
  }

  #print-section,
  #print-section * {
    visibility: visible !important;
  }

  #print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm;
  }
}
